-var titulo = "Título principal"
-var titulos = ["Título principal", "Subtítulo 1", "Subtítulo 2", "Subtítulo 3"]
mixin caja(imagen,titulo,contenido)
	.caja
		.caja__imagen: img(src="/images/"+imagen, alt="")
		.caja__contenido
		h3=titulo
		p=contenido