extend /componentes/plantilla.pug
block contenidos
		section.intro
			.intro__imagen
				img(src="/images/imagen.png")
			.intro__contenido
				h2 #{titulos[0]}
				p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam harum iste quas. Expedita quod suscipit aut, quaerat perspiciatis reiciendis incidunt illo quibusdam! Et dolorem autem placeat possimus ipsam culpa magni..
					span Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium, earum. Sunt aliquam ipsam consectetur assumenda.
				a.boton Leer más
		main.contenido
			+caja('imagen.png',titulos[1],'Lorem ipsum dolor sit amet consectetur, adipisicing elit.')
			+caja('imagen.png',titulos[2],'Lorem ipsum dolor sit amet consectetur, adipisicing elit.')
			+caja('imagen.png',titulos[3],'Lorem ipsum dolor sit amet consectetur, adipisicing elit.')